body {
    background-color: black;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 50px;
}

.formButton {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 700px;
    margin-right: 50px;
}